<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <!-- <img class="mr-4 dspace-logo" src="assets/images/banner_gioithieu.jpg" alt="" /> -->
      <div>
        <h1 class="display-3">{{'title' | translate}}</h1>
        <p class="lead">{{'home.news.page.title' | translate}}</p>
      </div>
    </div>
    <ul>
      <li>{{'home.news.page.content1' | translate}}</li>
      <li>{{'home.news.page.content2' | translate}}</li>
      <li>{{'home.news.page.content3' | translate}}</li>
    </ul>
    <!-- <p>Join an international community of <A HREF="https://wiki.duraspace.org/display/DSPACE/DSpace+Positioning" TARGET="_NEW">leading institutions using DSpace</A>.</p> -->
  </div>
</div>
